
.services{

    margin-top: 300px;

    
}
.services-title{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #141313;
 
}


.img-box img{
    width: 100%;
}
.service-padding{
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 10px 50px;

}
.single-service{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 8px;
    width: 100%;
    height: auto;
}
.blue-box{
    background-color: rgba(24, 123, 200, 90%);
    padding: 17px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 25px;
}