.descrption-padding {
    margin: 100px 40px;
}

.frist-para {
    margin-bottom: 200px;
}

.frist-para h2 {
    font-size: 50px;
}

.second-para h2 {
    font-size: 40px;
}

.frist-para p {
    font-size: 20px;
}

.second-para p {
    font-size: 20px;
}