.header-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 30px;
}

.header-nav li {
    display: inline-block;
    padding: 0px 20px;
}

.header-nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.header-nav li a:hover {
    color: #1A74E2;
}

.header-btn button {
    background-color: black;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 25px;
    border: 1px solid #fff;
    margin-left: 8px;
    border-radius: 10px;
}

.header-btn button:hover {
    background-color: #1A74E2;
}