.popular {
    background-color: #101010;
    height: 400px;
    width: 100%;
}

.popular-title {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 100px 0px;
}

.course{
    display: flex;
    /* width: 400px; */
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
  gap: 10px;
}

.single-course{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
 
    margin: 0 8px;
    width: 100%;
    height: auto;
}
.img-box{
   
}


.blue-area{
    background-color: rgba(24, 123, 200, 90%);
    padding: 17px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}
